body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* iOS 默认字体 */
  }

  #route-select {
    justify-content: center;
    display: flex;
    gap: 10%;
  }

  #route-input-urban, #route-input-school {
    color: black;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 8px; /* 圆角 */
    border: 1px solid #d1d1d6; /* iOS 边框色 */
    background-color: #fff;
    appearance: none; /* 移除默认样式 */
  }

  .route-select-container {
    position: relative;
    
    margin-bottom: 5px;
  }
  .route-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    background: white;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2000;
  }
  .route-list li {
    padding: 5px;
    cursor: pointer;
  }
  .route-list li:hover {
    background-color: #f0f0f0;
  }
  
  #map {
    height: calc(100vh - 250px);
    width: 100%;
  }
  
  #controls {
    padding: 10px;
    text-align: center;
    background-color: #f2f2f7; /* iOS 浅灰背景 */
  }
  
  #controls button {
    width: 50px;
    padding: 0; /* 稍大一些的内边距 */
    margin: 1px;
    font-size: 1em;
    font-weight: 1000; /* iOS 按钮文字稍粗 */
    color: #ffffff; /* iOS 蓝色 */
    background-color: #a2a2a2; /* 灰色背景 */
    border: 1px solid #939393; /* iOS 边框色 */
    border-radius: 8px; /* 圆润边角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    transition: all 0.2s ease; /* 平滑过渡效果 */
    cursor: pointer;
  }
  
  #controls button:hover {
    background-color: #5e5e5e; /* 悬停时略灰 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* 阴影增强 */
  }
  
  #controls button:active {
    background-color: #9a9a9a; /* 点击时更深的灰色 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* 阴影减弱 */
    transform: translateY(1px); /* 轻微下沉效果 */
  }
  
  
  #progress-container {
    padding: 10px;
    text-align: center;
    background-color: #f2f2f7; /* iOS 浅灰背景 */
  }
  
  #progress {
    width: 80%;
    max-width: 600px;
    height: 10px; /* 更细的进度条 */
    border-radius: 4px; /* 圆角 */
    background-color: #d1d1d6; /* iOS 灰色底 */
    appearance: none; /* 移除默认样式 */
  }
  
  #progress::-webkit-slider-thumb {
    appearance: none;
    width: 32px;
    height: 32px;
    background:url(./images/bus.svg);
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
  }
  
  #progress::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background:url(./images/bus.svg);
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    body { padding: 5px; }
    #route-select-container { font-size: 18px; }
    #controls button {
      padding: 8px 14px; /* 小屏幕上按钮稍小 */
      font-size: 14px;
    }
  }
